.header-wrapper {
  position: sticky;
  top: 0;
  z-index: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 1rem;
  background-color: #05adcf;
}

.logo {
  font-size: 24px;
  color: #ffffff;
  margin: 0;
  line-height: 1;
}

.header-cta {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-cta li:not(:last-child) {
  margin-right: 10px;
}

.header-cta li a {
  display: block;
  padding: 5px;
  font-size: 0;
  line-height: 1;
}

.header-cta li a svg {
  width: 20px;
  fill: #fff;
}

.breadcrum {
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem;
}

.breadcrum li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  color: #999999;
}

.breadcrum li a {
  padding: 10px;
  color: #999999;
  text-transform: uppercase;
}

.container {
  padding: 1rem 3rem;
}

.search {
  background-color: #ffffff;
  padding: 10px 1rem;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  flex: 1;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  margin-right: 20px;
  padding: 7px 1rem;
  outline: 0;
  font-size: 14px;
  color: #333;
}
.btn {
  border: 0;
  font-size: 14px;
  color: #fff;
  background-color: #05adcf;
  width: 100px;
  padding: 8px;
  outline: none;
  cursor: pointer;
}

.output-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.discount-output {
  background-color: #fff;
  border: 1px solid #ddd;
  width: 300px;
  margin-right: 20px;
  position: sticky;
  top: 100px;
}

.discount-output-top {
  padding: 10px;
}

.discount-output-top li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discount-output-top li span:first-child {
  text-transform: uppercase;
  color: #999999;
  font-size: 12px;
  margin: 10px;
}

.discount-output-top li span:last-child {
  color: #333;
  font-size: 14px;
}

.discount-output-bottom-header {
  background-color: #f1f1f1;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.discount-output-bottom-header h5 {
  font-size: 12px;
  text-transform: uppercase;
  color: #999999;
  margin: 0;
  font-weight: normal;
}

.discount-output-bottom-header button {
  width: auto;
}

.discount-output-bottom ul {
  padding: 10px;
}

.discount-output-bottom ul li {
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
}

.filters {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.discount-list-wrapper {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 1rem;
  flex: 1;
}

.discount-list {
  margin: 20px 0 0;
}

.discount-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  margin-bottom: 10px;
  padding: 10px 1rem;
}

.discount-list li .indicator {
  height: 10px;
  width: 10px;
  background-color: red;
  margin-right: 10px;
  display: inline-block;
  border-radius: 50%;
}

.discount-list li span {
  font-size: 14px;
}

.discount-list li div span:last-child {
  color: #999999;
}

.positive {
  color: green;
}

.negative {
  color: orange;
}

.filters p {
  font-size: 14px;
  color: #999999;
  line-height: 1;
  margin: 0 10px 0 0;
}

.filters ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.filters ul li {
  margin-right: 10px;
}

.filters button {
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.filters button span:first-child {
  font-size: 16px;
  color: #333;
  text-decoration: underline;
  padding-right: 7px;
}

.filters button span:last-child {
  font-size: 12px;
  text-transform: uppercase;
  color: #999999;
}

.filters ul li.active button * {
  font-weight: bold;
  color: green;
}
